#logo {
    background-image:url(images/logo.jpg);
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    
}
#main-photo{
    background-image: url(images/solarsystem.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}
#teacher-photo {
    background-image: url(images/education.jpg);
    height: 200px;
    width: 250px;
    background-position: center;
    background-size: cover;
    float: right;
    justify-self: flex-end;
}
#eclipse {
    background-image: url(images/eclipse.jpg);
    height: 200px;
    width: 250px;
    background-position: center;
    background-size: cover;
    float: right;
    justify-self: flex-end;
}
#dome{
    background-image: url(images/earthview.jpg);
    height: 200px;
    width: 250px;
    background-position: center;
    background-size: cover;
    float: right;
    justify-self: flex-end;
}
/*///////////////////Content css/////////////////*/
.wrapper {
    grid-template-columns:1fr 2fr;
}
.body-container {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}
nav{
    display: grid;
    align-content: flex-start;
}
nav ul {
    display: grid;
    padding: 20px;
    
}
nav ul a{
    color: black;
    padding: 15px;
}
nav a{
    text-decoration: none;
}
nav a:hover {
    background-color: white;
    color: red;
}
.wrapper {
    display: grid;
    grid-template-columns:1fr 4fr 1fr;
    width: auto;

}
body {
    background-color: #edeeef;
    text-decoration-color: #555;
    margin: 0;
    font-family:Lato;
}
h1{
    text-decoration: underline;
}
h2{
    text-decoration: underline;
}
video {
    background-position: cover;
    width: 100%;
}
p {
    text-align: justify;
}

footer {
    align-content: center;
    display: grid;
    justify-content: center;
    background-color: lightblue;
}
@media screen and (max-width:480px){
    .nav-ul a {
        color: white;
        padding: 15px;
    } 
    .nav ul {
        display: flex;
        padding: 10px;
    }
    #logo {
        width: 100px;
        height: 100px;
    }
    #main-photo {
        height: 0px;
    }
    .nav {
        position: absolute;
        
    }
}